.done {
  text-decoration: line-through;
}

.times {
  margin-left: 30px;
}

.box {
  border: 1px solid #ccc;
  width: 50%;
  margin: 10px auto;
  padding: 10px 0;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  text-align: left;
}

.trigger-button{

  text-align: right;
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
}
